.header-icon {
    height: 45px;
    width: auto;
    margin: auto
}

#marvel-gif {
    width: 100vw !important
}

.no-padding {
    padding: 0px !important;
}

.button {
    display: flex;
    justify-content: center;
    width: 100vw
}

#ion-btn {
    width: 40%
}